body {
    background-color:#400080;
    color:#fff;
}

#bg::before {
    filter:invert(100%) opacity(50%);
}

div {
    background-color:#004080;
    border-color:#800040;
}

.str0 {
    text-shadow: 2px 2px 2px #fff,
    -2px -2px 2px #fff,
    -2px 2px 2px #fff,
    2px -2px 2px #fff,
    2px 0px 2px #fff,
    -2px 0px 2px #fff,
    0px 2px 2px #fff,
    0px -2px 2px #fff;
}

.str1 {
    text-shadow: 2px 2px 2px #000,
    -2px -2px 2px #000,
    -2px 2px 2px #000,
    2px -2px 2px #000,
    2px 0px 2px #000,
    -2px 0px 2px #000,
    0px 2px 2px #000,
    0px -2px 2px #000;
}

.btn div {
    background-image:linear-gradient(#7f00ff,#800040);
    color:#000;
}

.btn div:hover {
    background-image:linear-gradient(#800040,#7f00ff);
    border-color:#800040;
}
