/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

* {
    box-sizing:border-box;
}

@keyframes glide {
    from {background-position:0 0;}
    to {background-position:500px 275px;}
}

body {
    background-color:#df80ff;
    color:#000;
    font-family:"comic sans ms", "chalkboard se", "comic neue", sans-serif;
    text-align:center;
}

#bg {
    overflow:auto;
    position:absolute;
    background-color:rgba(0,0,0,0);
    border:none;
}

#bg::before {
    content:"";
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:-1;
    display:block;
    background-image:url("../images/dinos.png");
    background-size:100px;
    width:100%;
    height:100%;
    filter:opacity(50%);
    animation:glide 30s linear infinite;
}

iframe {
    border:none;
    width:100%;
    height:80px;
    margin:auto;
    text-align:inherit;
}

h1 {
    margin-top:0;
}

img {
    border-radius:5px;
}

div {
 background-color:#bf80ff;
 border:solid 5px #800080;
 border-radius:10px;
 max-width:500px;
 margin:auto;
 text-align:inherit;
 padding:25px;
}

.str0 {
    text-shadow: 2px 2px 2px #000,
    -2px -2px 2px #000,
    -2px 2px 2px #000,
    2px -2px 2px #000,
    2px 0px 2px #000,
    -2px 0px 2px #000,
    0px 2px 2px #000,
    0px -2px 2px #000;
}

.str1 {
    text-shadow: 2px 2px 2px #fff,
    -2px -2px 2px #fff,
    -2px 2px 2px #fff,
    2px -2px 2px #fff,
    2px 0px 2px #fff,
    -2px 0px 2px #fff,
    0px 2px 2px #fff,
    0px -2px 2px #fff;
}

.btn {
    text-decoration:none;
    width:100px;
    display:block;
    float:left;
    height:100%;
}

.btn:hover {
    text-decoration:none;
}

.btn div {
    font-size:18px;
    color:#fff;
    background-image:linear-gradient(#bf00ff,#800080);
    border:none;
    border-radius:0;
    width:100px;
    height:100%;
    margin:0;
    display:table;
    padding:10px;
}

.btn div:hover {
    background-image:linear-gradient(#800080,#bf00ff);
    border:solid 2px #800080;
}

.btn p {
    display:table-cell;
    vertical-align:middle;
}

a:link {
 color:#0ff;
 text-decoration:none;
}

a:visited {
 color:#0ff;
 text-decoration:none;
}

a:hover {
 color:#0ff;
 text-decoration:underline;
}

a:active {
 color:#fff;
 text-decoration:underline;
}
